/*--Navbar--*/
#gp-ninja {
    max-height: 23px;
    width: auto;
    display: inline-block;
    margin-top: -8px;
    padding-left: 4px;
}
.navbar-txt {
    font-size: 24px;
    color: white;
    font-weight: 500;
    display: inline-block;
}
.navbar-brand {
    padding-top: 14px !important;
}
#desktop-cog {
    float: right;
    margin-top: 10px;
    color: white;
}
.navbar-default {
    background-color: #00a4d8 !important;
    border-radius: 0 !important;    
}
.navbar {
    margin-bottom: 0 !important;
    border: none !important;
}



/*--------Settings--------*/
/*--Settings Nav--*/
.settings-nav a {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0 !important;
    font-weight: 500;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #00a4d8 !important;
}

/*--Section Containers--*/
.rep-settings-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.queue-settings-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.reps-working-container {
    padding-bottom: 50px;
    background-color: #f8f8f8;
}

/*--Input Box--*/
.input-prompt {
    border: 1px solid #000;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
.addQueue .input-btn, .addRep .input-btn {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -4px;
}

/*--Rep Profiles--*/
.rep-profiles-wrapper {
    display: block;
    overflow: auto;
    overflow-x: scroll;
    white-space: nowrap;
    border: 1px solid #000;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}
.rep-profiles {
    padding-left: 5px !important;
    padding-right: 5px !important;
    position: relative;
    display: inline-block;
}
.rep-card { 
    background-color: #fff;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 !important;
    margin: 1em !important;
    max-width: 250px;
    min-width: 200px;
    height: auto;
    box-shadow: 0px 2px 5px #888888;
    vertical-align: top;
}
.rep-card:last-child {
    margin-right: 35px !important;
}
.rep-card-queues {
    padding-left: 15px;
    padding-right: 15px;
}
.repProfileName {
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
    padding-bottom: 10px;
    text-align: center;
}
.repQueues-btn {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.repname-duperror {
    color: red;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.repname-emptyerror {
    color: red;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.addRep {
    padding-bottom: 50px;
}
.btn-rep {
	width: 200px;
	height: 70px;
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
    white-space: normal !important;
}
.delete-rep {
    margin-top: 20px;
    width: 100%;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid #000 !important;
}

/*---------------------*/

/*--------Queue Profiles--------*/
.addQueue {
    padding-bottom: 50px;
}
.queue-profiles-wrapper {
    border: 1px solid #000;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}
.queue-profiles {
    padding-left: 5px !important;
    padding-right: 5px !important;
    position: relative;
}
.queue-card { 
    background-color: #337ab7;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #888888;
    vertical-align: top;
    min-height: 45px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.queue-card-toggle{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    margin-top: 1px;
}
.queueProfileName {
    text-align: center;
    display: inline-block;
    color: white;
    margin-top: 11px;
}
.queuename-duperror {
    color: red;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.queuename-emptyerror {
    color: red;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.btn-circle {
  width: 27px;
  height: 27px;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
}
.delete-queue {
    float: right;
    margin-top: 8px;
    margin-right: 11px;
}
.fa-trash-o {
    margin-top: -2px;
    color: white;
}
.fa-lg {
    vertical-align: 0;
}
.fa-bars {
    float: left;
    color: white;
    margin-top: 7px;
    margin-left: 15px;
    cursor: move;
}
.fa-chevron-right, .fa-chevron-down {
    color: white;
    padding-left: 5px;
}



/*--------Reps Working--------*/
.title {
    margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
    text-align: center;
}
#date-stamp {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
}



/*--------Mobile Styles--------*/
@media only screen and (max-width : 768px){
	.title {
        margin-top: 10px;
        padding-top: 20px;
		padding-bottom: 20px;
	}
    .rep-profiles-wrapper {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .queue-profiles-wrapper {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .queue-settings-container, .rep-settings-container {
        padding-top: 45px;
    }
    #gp-ninja {
        max-height: 27px;
        margin-top: -4px;
        padding-left: 0;
    }
    .nav-pills>li+li {
        margin-left: 0 !important;
    }
    #mobile-cog {
        float: right;
        margin-right: 15px;
        margin-top: 10px;
        color: #fff;
    }
}