/*--------GENERAL--------*/
/*turns off input number spinner*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.fa-lg {
    vertical-align: 0;
}
/*-----------------------------------------*/



/*--------NAVBAR--------*/
#gp-ninja {
    max-height: 23px;
    width: auto;
    display: inline-block;
    margin-top: -8px;
    padding-left: 4px;
}
.navbar-txt {
    font-size: 24px;
    color: white;
    font-weight: 500;
    display: inline-block;
}
.navbar-brand {
    padding-top: 14px !important;
}
#desktop-cog {
    float: right;
    margin-top: 11px;
    color: white;
}
.navbar-default {
    background-color: #00a4d8 !important;
    border-radius: 0 !important;    
}
.navbar {
    margin-bottom: 0 !important;
    border: none !important;
}
.navbar-brand {
    cursor: pointer;
}
#settings-link {
    display: inline-block;
    float: right;
    margin-top: 14px;
    margin-right: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
/*-----------------------------------------*/



/*--------BREADCRUMBS--------*/
.breadcrumbs {
    overflow-x: hidden;
}
.breadcrumbs li {
    width: 33%;
}
.breadcrumb-arrow {
    height: 36px;
    margin-bottom: 0;
    margin-left: -15px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: white;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top;
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px;
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: "";
}
.breadcrumb-arrow li a {
    position: relative;
    width: 100%;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #00a4d8;
    color: #434a54;
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px;
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 11px;
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #00a4d8;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #e6e9ed;
    border: 1px solid #00a4d8;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #e6e9ed;
}
.breadcrumb-arrow li a:active {
    background-color: #e6e9ed;
    border: 1px solid #00a4d8;
}
.breadcrumb-arrow li a:active:after {
    border-left-color: #00a4d8;
}

.breadcrumb-arrow li a:active:before {
    border-left-color: #e6e9ed;
}

/*----
Breadcrumbs Completed
----*/
.breadcrumbs li .bread-completed {
    color: #fff;
    background-color: #66cc66;
    border: 1px solid #00a4d8;
}
.breadcrumbs li .bread-completed:before {
    right: -10px;
    z-index: 3;
    border-left-color: #66cc66;
    border-left-style: solid;
    border-left-width: 11px;
}
.bread-completed:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #00a4d8;
}
.breadcrumbs li .bread-completed:focus, .breadcrumbs li .bread-completed:hover {
    background-color: #4cae4c;
    border: 1px solid #00a4d8;
    color: white;
}
.breadcrumb-arrow li .bread-completed:focus:before, .breadcrumb-arrow li .bread-completed:hover:before {
    border-left-color: #4cae4c;
}

/*----
Breadcrumbs Active
----*/
.breadcrumb-arrow li .bread-active {
    background-color: #e6e9ed;
}
.breadcrumb-arrow li .bread-active:before {
    right: -10px;
    z-index: 3;
    border-left-color: #e6e9ed;
    border-left-style: solid;
    border-left-width: 11px;
}
.breadcrumb-arrow li .bread-active:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #00a4d8;
}
.breadcrumb-arrow li .bread-active:focus, .breadcrumb-arrow li .bread-active:hover {
    background-color: #d9d7d7;
    border: 1px solid #00a4d8;
}
.breadcrumb-arrow li .bread-active:focus:before, .breadcrumb-arrow li .bread-active:hover:before {
    border-left-color: #d9d7d7;
}
.breadcrumb-arrow li .bread-active:active {
    background-color: #e6e9ed;
    border: 1px solid #00a4d8;
}
.breadcrumb-arrow li .bread-active:active:after {
    border-left-color: #00a4d8;
}
.breadcrumb-arrow li .bread-active:active:before {
    border-left-color: #e6e9ed;
}

/*----
Breadcrumbs Last "Crumb"
----*/
.breadcrumb-arrow li .last-crumb:before, .breadcrumb-arrow li .last-crumb:after {
    border: none;
}
.breadcrumb-arrow li .last-crumb:hover:before, .breadcrumb-arrow li .last-crumb:focus:before {
    border: none;
}
.lastcrumb-box {
    position: absolute;
    border-bottom: 1px solid #00a4d8;
    border-top: 1px solid #00a4d8;
    height: 36px;
    width: 15px;
    top: -1px;
    right: -13px;
    background-color: white;
    z-index: 5;
}
.last-crumb:hover .lastcrumb-box {
    background-color: #e6e9ed;
}
.last-crumb:active .lastcrumb-box {
    background-color: #e6e9ed;
}
.last-crumb:focus .lastcrumb-box {
    background-color: #e6e9ed;
}
/*-----------------------------------------*/


/*--------REPS WORKING--------*/
.reps-working-container {
    padding-bottom: 100px;
}
.reps-header {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 55px;
}
.reps-title {
    display: inline-block;
    margin: 0;
    margin-right: -255px;
}
#date-stamp {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    float: right;
    margin-top: 10px;
    margin-right: 100px;
}
.rep-buttons {
    margin-left: 70px;
    margin-right: 70px;
}
#reps-working-next {
    background-color: #00a4d8;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    cursor: pointer;
    box-shadow: 0px 0px 8px #888888;
}
#reps-working-next:hover {
    background-color: #0099c9;
}
#reps-working-next p {
    margin: 0;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
}
/*-----------------------------------------*/



/*--------QUEUE VOLMES--------*/
.queue-import-container {
    padding-bottom: 100px;
}
.importQueuesBtn {
    display: inline-block;
    float: right;
    margin-right: 100px;
    margin-top: -1px;
    padding-left: 60px !important;
    padding-right: 60px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 600 !important;
    background-color: #00a4d8 !important;
    color: white !important;
}
.importQueuesBtn:hover {
    background-color: #0099c9 !important;
}
.volumes-header {
    padding-top: 50px;
    padding-bottom: 55px;
    background-color: white;
}
.volumes-title {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    margin-right: -280px;
}
.import-datestamp {
    position: absolute;
    right: 103px;
    top: 180px;
    font-weight: 200;
    font-size: 10px;
}

/*----
Queue Volume Card
----*/
.queue-volume-card {
    max-width: 325px;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #888888;
    display: inline-block;
    padding: 0 !important;
    margin: 20px !important;
}
.queue-volume-name {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #337ab7;
    color: white;
}
.queue-volume-data {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.queue-volume-input input {
    border-radius: 3px;
    border: 1px solid #000;
    text-align: center;
    font-weight: 500;
    font-size: 19px !important;
    padding: 6px;
    width: 100%;
}
.queue-volume-input {
    max-width: 60%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
input[type="number"].qv-input::-webkit-input-placeholder {
    font-weight: 300;
}
input[type="number"].qv-input::-moz-placeholder {
    font-weight: 300;
}
input[type="number"].qv-input:-ms-input-placeholder {
    font-weight: 300;
}
input[type="number"].qv-input:-moz-placeholder{
    font-weight: 300;
}

/*----
Volume Notifications
----*/
.qv-alert {
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
}
.fa-bell {
    color: #333;
    font-size: 22px;
}
.fa-stack:hover .fa-bell, .fa-stack:active .fa-bell, .fa-stack:focus .fa-bell {
    color: #00a4d8;
}
.fa-circle {
    top: -8px;
    left: 5px;
    font-size: 11px;
    color: red;
}
.qvolume-graph {
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    color: #333;
}
.qvolume-graph:hover {
    color: #00a4d8;
}
.popover-content {
    text-align: center;
}

/*----
Non-Core Work
----*/
.non-core-container {
    max-width: 1000px;
    padding-top: 20px;
}
.non-core-card {
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #888888;
    padding: 0 !important;
    margin: 10px;
    margin-bottom: 20px;
}
.non-core-name {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #337ab7;
    color: white;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
.non-core-name:hover {
    background-color: #2e6da4;
}
.non-core-btn-styles {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #000;
}
.non-core-data {
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nc-input-card {
    width: 213px;
    height: auto;
    margin: 8px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    vertical-align: top;
}
.nc-input-name {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
}
.nc-input {
    width: 150px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #000;
    font-weight: 500;
    font-size: 18px;
    background-color: white;
}
input[type="number"].nc-input::-webkit-input-placeholder {
    font-weight: 300;
}
input[type="number"].nc-input::-moz-placeholder {
    font-weight: 300;
}
input[type="number"].nc-input:-ms-input-placeholder {
    font-weight: 300;
}
input[type="number"].nc-input:-moz-placeholder{
    font-weight: 300;
}
/*-----------------------------------------*/



/*--------QUEUE NAV BTNS (next/back)--------*/
#queue-import-next {
    background-color: #00a4d8;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    float: right;
}
#queue-import-back {
    background-color: #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    float: left;
}
#queue-import-next:hover {
    background-color: #0099c9;
}
#queue-import-next p {
    margin: 0;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
}
#queue-import-back p {
    color: black;
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
}
#queue-import-back:hover {
    background-color: #d9d7d7;
}
.queue-nav-row {
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 8px #888888;
}
/*-----------------------------------------*/



/*--------SETTINGS--------*/
/*----
Settings Nav
----*/
.settings-nav a {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0 !important;
    font-weight: 500;
}
.settings-nav li {
    background-color: white;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #00a4d8 !important;
}
.settings-heading {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    text-align: center;
}
.settings-title {
    margin-top: 0;
    display: inline-block;
    margin-right: -100px;
}
#settings-save {
    float: right;
    display: inline-block;
    margin-top: 5px;
    margin-right: 30px;
    font-weight: 500;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.settings-datestamp {
    position: absolute;
    right: 30px;
    top: 141px;
    font-weight: 200;
    font-size: 10px;
}
.btn-save {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
/*----
Input Box
----*/
.input-prompt {
    border: 1px solid #1e1e1e;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    text-align: center;
}
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}



/*--------REP PROFILES--------*/
.rep-settings-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.rep-profiles-wrapper {
    display: block;
    overflow: auto;
    overflow-x: scroll;
    white-space: nowrap;
    /*border: 1px solid #1e1e1e;*/
    border-radius: 10px;
    padding-top: 0;
    padding-bottom: 0;
    /*background-color: #f8f8f8;*/
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.rep-profiles {
    padding-left: 5px !important;
    padding-right: 5px !important;
    position: relative;
    display: inline-block;
}
.rep-card { 
    background-color: #fff;
    display: inline-block;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    padding: 0 !important;
    margin: 1em !important;
    max-width: 250px;
    min-width: 200px;
    height: auto;
    box-shadow: 0px 2px 5px #888888;
    vertical-align: top;
}
.btn-rep {
	width: 200px;
	height: 70px;
	margin-left: 3em !important;
	margin-right: 3em !important;
	margin-top: 1.5em;
	margin-bottom: 1.5em !important;
    white-space: normal !important;
}
.delete-rep {
    margin-top: 20px;
    width: 100%;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid #000 !important;
}
.jtextfill {
    height: 25px;
    width: auto;
    margin-bottom: 25px;
}
.rep-card:last-child {
    margin-right: 35px !important;
}
.rep-card-queues {
    padding-left: 15px;
    padding-right: 15px;
}
.repProfileName {
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
    text-align: center;
}
.repQueues-btn {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

/*----
Add New Rep Card
----*/
.addRepCard {
    background-color: #00a4d8;
    display: inline-block;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 20px;
    margin: 1em !important;
    max-width: 250px;
    min-width: 200px;
    height: auto;
/*  box-shadow: 0px 2px 5px #888888; */
    vertical-align: top;
}
.addRepCard h3 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 20px;
    color: white;
}
#addrep-name {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 8px;
    margin: 10px;
    text-align: center;
}
#addrep-btn {
    display: block;
    margin: 0 auto;
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    color: white;
}
.fa-user {
    color: white;
}

/*----
Duplicate Error Msgs
----*/
.repname-duperror {
    color: red;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 15px;
    font-weight: 500;
}
.repname-emptyerror {
    color: red;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 15px;
    font-weight: 500;
}
/*-----------------------------------------*/



/*--------Queue Profiles--------*/
.queue-settings-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.queue-profiles-wrapper {
    /*border: 1px solid #1e1e1e;*/
    border-radius: 10px;
    /*padding-top: 20px;*/
    padding-bottom: 10px;
    /*background-color: #f8f8f8;*/
    max-width: 64em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.queue-profiles {
    padding-left: 5px !important;
    padding-right: 5px !important;
    position: relative;
}
.queue-bar{
    background-color: #337ab7;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #888888;
    vertical-align: top;
    min-height: 44px;
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    opacity: .99;
}
.queue-bar:hover {
    background-color: #2e6da4;
}
.fa-bars {
    float: left;
    color: white;
    margin-top: 7px;
    margin-left: 15px;
    cursor: move;
}
.fa-chevron-right, .fa-chevron-down {
    color: white;
    padding-left: 5px;
}
.delete-queue {
    float: right;
    margin-top: 7px;
    margin-right: 10px;
    padding-left: 9px !important;
    padding-right: 9px !important;
}
.fa-trash {
    float: right;
    color: white;
}
/*----
Queue Data
----*/
.queue-data {  
    border: 1px solid #1e1e1e;
    border-top: none;
    margin-top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}
.queue-data-columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.data-title {
    display: block;
    padding-right: 8px;
}
.grey {
    background-color: #f8f8f8;
}
.queue-data-fields {
    padding: 10px;
}
.queue-data-card {
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.queue-data-input {
    border: 1px solid #1e1e1e;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    max-width: 175px;
    text-align: center;
}
.graph-preview img {
    width: 100%;
}
.queueProfileName {
    text-align: center;
    display: inline-block;
    color: white;
    margin-top: 11px;
    margin-left: -30px;
}
/*---
Duplicate Error Msgs (Queues)
----*/
.queuename-duperror {
    color: red;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 15px;
    font-weight: 500;
}
.queuename-emptyerror {
    color: red;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 15px;
    font-weight: 500;
}

/*----
Add New Queue
----*/
.addnew-queue {
    max-width: 64em;
    height: auto;
    padding: 30px;
    padding-bottom: 20px;
    background-color: #00a4d8;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 auto;
    margin-top: -1px;
}
#addQueue-name {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 8px;
    margin: 10px;
    text-align: center;
}
.addnew-queue h3 {
    color: white;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}
#addqueue-btn {
    display: inline-block;
    margin: 0 auto;
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    color: white;
}
.fa-archive {
    color: white;
}
/*-----------------------------------------*/



/*--------iPad Styles--------*/
@media only screen and (max-width: 768px) {    
    /*----iPad Reps----*/
    .reps-header {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .reps-title {
        margin: 0;
    }
    #date-stamp {
        display: block;
        float: none;
        margin: 0;
        margin-top: 15px;
        padding-bottom: 0;
    }
    .rep-buttons {
        margin: 0;
    }
    
    /*----iPad Volumes----*/
    .volumes-header {
        padding-top: 45px;
        padding-bottom: 45px;
        margin-bottom: 0;
    }
    .volumes-title {
        margin-top: 0;
        margin-right: 0;
        padding-bottom: 20px;
    }
    .non-core-container {
        margin-bottom: 20px;
    }
    .importQueuesBtn {
        display: block !important;
        margin: 0 auto;
        float: none;
        margin-top: 10px;
    }
    .import-datestamp {
        right: 0;
        top: 245px;
        left: 0;
        margin: 0 auto;
    }
    /*----iPad Settings----*/
    .settings-heading {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .settings-title {
        margin: 0;
        padding-top: 0;
		padding-bottom: 0;
        display: block;
	}
    #settings-save {
        float: none;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .settings-datestamp {
        right: 319px;
        top: 200px;
    }
}
/*----IPAD STYLES CLOSE-------------------*/



/*--------MOBILE STYLES--------*/
@media only screen and (max-width : 767px){
    /*----Navbar & Breadcrumbs----*/
    .navbar {
        padding-bottom: 10px;
    }
    .navbar-brand {
        padding-left: 10px !important;
    }
    #gp-ninja {
        max-height: 39px;
        margin-top: -3px;
        padding-left: 0;
    }
    #mobile-cog {
        float: right;
        margin-right: 13px;
        margin-top: 9px;
        color: #fff;
        font-size: 3em;
    }
    
    /*----Reps----*/
    .reps-header {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .reps-title {
        margin: 0;
    }
    #date-stamp {
        display: block;
        float: none;
        margin: 0;
        margin-top: 15px;
        padding-bottom: 0;
    }
    .rep-buttons {
        margin: 0;
    }
    
    /*----Volumes----*/
    .volumes-header {
        padding-top: 45px;
        padding-bottom: 45px;
        margin-bottom: 0;
    }
    .volumes-title {
        margin-top: 0;
        margin-right: 0;
        padding-bottom: 20px;
    }
    .non-core-container {
        margin-bottom: 20px;
    }
    .importQueuesBtn {
        display: block !important;
        margin: 0 auto;
        float: none;
        margin-top: 10px;
    }
    .queue-data-fields {
        max-width: 40em;
        margin: 0 auto;
    }
    .non-core-card {
        margin: 0;
    }
    .import-datestamp {
        right: 0;
        top: 255px;
        left: 0;
        margin: 0 auto;
    }
    
    /*----Settings----*/
    .settings-heading {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .settings-title {
        margin: 0;
        padding-top: 0;
		padding-bottom: 0;
        display: block;
	}
    #settings-save {
        float: none;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .settings-datestamp {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 210px;
    }
    .rep-profiles-wrapper {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .queue-profiles-wrapper {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .queue-settings-container, .rep-settings-container {
        padding-top: 45px;
    }
    .addnew-queue {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .btn-rep {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    .nav-pills>li+li {
        margin-left: 0 !important;
    }
    .fa-trash {
        margin-top: -1px;
    }
    .repname-emptyerror, .repname-duperror, .queuename-duperror, .queuename-emptyerror {
        top: 277px;
    }
}
/*----------------------------------------------------------*/